alias aliases="nano ~/.dotfiles/.aliases"
alias paths="nano ~/.dotfiles/.paths"

#ssh keyconf
alias keyconf="nano ~/.dotfiles/ssh/config"

#to change between version
alias switch="sudo update-alternatives --config"

#cd to dev disk
alias dev="cd /mnt/dev/"

# add ssh identity
alias sai="ssh-add ~/.ssh/id_noturaun"

# run katalon
alias katalon="~/Applications/Katalon_Studio_Linux_64-8.1.0/katalon"
