alias aliases="nano ~/.dotfiles/.aliases"
alias paths="nano ~/.dotfiles/.paths"

#ssh keyconf
alias keyconf="nano ~/.dotfiles/.ssh/config"

#to change between version
alias switch="sudo update-alternatives --config"


